---
interface Props {
	title: string;
	body: string;
	src: string;
	textBtn: string;
	link: string;
}

const { src, title, body, textBtn , link} = Astro.props;
---

<article class="card-events">
	<img src={src} alt="" />
	<h2>{title}</h2>
	<p>{body}</p>
	<a href={link} target="_blank" class="button" rel="noopener noreferrer" style="text-decoration: none;">
       {textBtn}
    </a>
</article>

<style>
	.card-events {
		width: 100%;
		max-width: 400px;
		background: #fff;
		padding: 0px 0px 20px 0px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 500px;
		margin: 0 ;
		gap: 10px;

		
	}
	p {
		text-align: center;
		margin-top: 0;
		padding: 0 30px;
		font-family: "Noto Serif Georgian", serif;
		font-weight: 300;
		font-size: 17px;
		line-height: 25px;
	
	}
	.button {
	color: #ffffff;
    border: 2px solid #e6dbc8;
    border-radius: 30px;
    transition: 1s;
    background-color: #e6dbc8;
    padding: 11px 40px;
    font-size: small;
    font-weight: 600;
    margin: 3px;
    text-decoration: none;
    display: flex;
	justify-content: center;
    max-width: 150px;  
	width: 100%;
}

  .button:hover {
    background-color: transparent;
    color: #e6dbc8 ;
  }
  img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	
  }
  h2 {
	color: #e6dbc8 ;
	margin: 5px 0px 5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: 400;
  }
  body{
 color: #666666;
  }
</style>
